.novedades {
    width: 100%;
    float: left;
    margin-right: 5%;
}

.novedades_header {
    margin: 15px 0;
}

.novedades_p {
    color: #333;
}

.novedades_img {
    width: 100%;
    margin: 15px 0px;
}