@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(css/fontello.css);
@import url(css/menu.css);
@import url(css/banner.css);
@import url(css/novedades.css);
@import url(css/aside.css);
@import url(css/footer.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(src/background.png);
    font-family: Open Sans, sans-serif;
}

header {
    width: 100%;
    height: 55px;
    background: #000;
    color: #fff;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.container {
    width: 98%;
    margin: auto;
}

.container a {
    font-size: 28px;
}

h1 {
    float: left;
    font-size: 28px;
    margin: 6px 0;
}

.logo {
    float: left;
}

/*.logo_a {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    display: flex;
    align-items: center;
}*/

.logo_a {
    display: none;
}

.logo_img {
    width: 56px ;
    height: 55px;
}


header .container {
    display: table;
}

section {
    width: 100%;
    margin-bottom: 25px;
}

.info {
    width: 80%;
    margin: auto;
}

@media (min-width:1024px) {
    .container {
        width: 1000px;
    }

    .novedades {
        width: 100%;
    }

    .archivo {
        display: none;
    }
}

